#main {
    margin: auto;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    background: rgba(66, 206, 66, 0.61);
    height: 100%;
    background-image: linear-gradient(rgba(7, 255, 55, 0.85), #0c63a3);
    padding: 10% 10% 17% 10%;
    
}
#box {
    margin: 30px 150px 50px 150px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    
    height: auto;
    padding: 5% 10px 10px 10px;
    border-radius: 100px 10px 100px 5px;
}
#container{
    margin: 5px 2px 5px 2px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    
    padding: 5px 2px 2px 2px;
}
#container2 {
    margin:  2%;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    padding: 0 0 2% 2%;
    
}
#logo_download{
    height: 70px;
}
#logo_download:hover{
    opacity: 0.5;
